@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.button-area{
  display: flex;
  justify-content: space-between;
}

.login-form-button{
  width: 100px;
}


